{{ define "content" }}

<div class="outer">
  <div class="inner-medium">

    <article class="post post-full">
      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header><!-- .post-header -->
      {{ if .Params.image }}
      <div class="post-thumbnail">
        <img src="{{ .Params.image | relURL }}" alt="{{ .Params.title }}" />
      </div><!-- .post-thumbnail -->
      {{ end }}
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ .Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
      <div class="post-content">
        {{ .Content }}
      </div><!-- .post-content -->
    </article><!-- .post -->

     <div class="post-feed">
      {{ $place := .Title }}
      {{ $display_posts := ((.Site.GetPage "section" $place).Pages).ByDate.Reverse }}
      {{ range $post := $display_posts }}
      <article class="post post-card">
        <div class="post-card-inside">
          {{ if $post.Params.thumb_image }}
          <a class="post-card-thumbnail" href="{{ $post.URL }}">
            <img class="thumbnail" src="{{ $post.Params.thumb_image | relURL }}" alt="{{ $post.Params.title }}" />
          </a>
          {{ end }}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
            </header><!-- .post-header -->
            <div class="post-excerpt">
              <p>{{ $post.Params.excerpt }}</p>
            </div>
            <footer class="post-meta">
              <time class="published"
                datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">{{ $post.Date | dateFormat "January 02, 2006" }}</time>
            </footer>
          </div><!-- post-card-content -->
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
      {{ end }}
    </div><!-- .post-feed -->
    
    
  </div><!-- .inner-medium -->
</div><!-- .outer-->

{{ end }}
