{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block reviews-block bg-{{ $section.background }} outer">
      <div class="block-header inner-small">
    {{ if $section.title }}
    <h2 class="block-title">{{ $section.title }}</h2>
    {{ end }}
                  </div>

    {{ if $section.subtitle }}
                  <div class="post-content">
    <p>
      {{ $section.subtitle | safeHTML }}
    </p>
                          </div>

    {{ end }}
<div class="inner">
    <div class="post-feed">
      {{ $display_posts := first 2 ((.Site.GetPage "section" "/transfer").Pages).ByDate.Reverse }}
      {{ range $post := $display_posts }}
      <article class="post post-card">
        <div class="post-card-inside">
          {{ if $post.Params.thumb_image }}
          <a class="post-card-thumbnail" href="{{ $post.URL }}">
            <img class="thumbnail" src="{{ $post.Params.thumb_image | relURL }}" alt="{{ $post.Params.title }}" />
          </a>
          {{ end }}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
            </header><!-- .post-header -->
            <div class="post-excerpt">
              <p>{{ $post.Params.excerpt }}</p>
            </div>
            <footer class="post-meta">
            </footer>
          </div><!-- post-card-content -->
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
       {{ end }}     
      {{ $display_posts := first 1 ((.Site.GetPage "section" "/cryptocurrency").Pages).ByDate }}
      {{ range $post := $display_posts }}
      <article class="post post-card">
        <div class="post-card-inside">
          {{ if $post.Params.thumb_image }}
          <a class="post-card-thumbnail" href="{{ $post.URL }}">
            <img class="thumbnail" src="{{ $post.Params.thumb_image | relURL }}" alt="{{ $post.Params.title }}" />
          </a>
          {{ end }}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
            </header><!-- .post-header -->
            <div class="post-excerpt">
              <p>{{ $post.Params.excerpt }}</p>
            </div>
            <footer class="post-meta">
            </footer>
          </div><!-- post-card-content -->
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
       {{ end }}  
        <!-- 
      {{ $display_posts := first 1 ((.Site.GetPage "section" "/bank").Pages).ByDate }}
      {{ range $post := $display_posts }}
      <article class="post post-card">
        <div class="post-card-inside">
          {{ if $post.Params.thumb_image }}
          <a class="post-card-thumbnail" href="{{ $post.URL }}">
            <img class="thumbnail" src="{{ $post.Params.thumb_image | relURL }}" alt="{{ $post.Params.title }}" />
          </a>
          {{ end }}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
            </header>
            <div class="post-excerpt">
              <p>{{ $post.Params.excerpt }}</p>
            </div>
            <footer class="post-meta">
            </footer>
          </div>
        </div>
      </article>
      {{ end }}     
-->

    </div><!-- .post-feed -->


<p class="block-buttons" style="text-align: center;">
    <a href="/offers" class="button secondary" style="display: block; width: 100%;">More offers</a>
</p>
</section><!-- .block -->
